{% extends 'ItkgPhpRedmonBundle::base.html.twig' %}

{% block main %}
    <h2>Créer une instance Redis</h2>
    <form action="{{ path('itkg_php_redmon_instance_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input class="btn" type="submit" value="Valider" />
    </form>
{% endblock %}    

