<div class="accordion-group well">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#widgetaccordion2" href="#widgetcollapseOne">
        Administration
        <b class="caret pull-right"></b>
      </a>
    </div>
    <div id="widgetcollapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>
            {% for database in instance.getDatabases %}
                <li class="list_db">
                    <span class="label_db">Base {{ database.name }}<a class="link_button" href="{{ path('ringo_php_redmon_admin_flushdb', {'id': database.id}) }}">
                    <button class="btn pull-right" >Flush DB</button></a>
                    </span>
                </li>
            {% endfor %}
        </ul>
        <a class="pull-right black underline" href="{{ path('ringo_php_redmon_admin_flushall') }}">Supprimer toutes les données</a>
      </div>
    </div>
</div>